<form class="myForm" name="myForm" ng-submit="mainPage.onSubmit(mainPage.city)" novalidate>
    <h1>Property Cross</h1>
    <p class="header-form-search ">Use the form below to search for houses to buy.</p>
    <div class="form-group">
        <label>
            <input class="input"
                   type="text"
                   name="text"
                   ng-model="mainPage.city"
                   ng-minlength="3"
                   ng-maxlength="32"
                   ng-pattern="/^[A-za-z]*$/"
                   required
            />
        </label>
        <div class='error'
             ng-if="myForm.text.$error" role="alert">
            <div ng-show='myForm.text.$error.pattern'>Only letters</div>
            <div ng-show='myForm.text.$error.minlength'>Your field is too short</div>
            <div ng-show='myForm.text.$error.maxlength'>Your field is too long</div>
        </div>
        <div class='error'
             ng-if="myForm.text.$dirty" role="alert">
            <div ng-show='myForm.text.$error.required'>You did not enter a field</div>
        </div>
        <input id="inputs" ng-disabled="myForm.$invalid" type="submit" value="Search"
               class="btn btn-primary btn-block"/>
    </div>
</form>